* {
  margin: 0;
}

.input_field {
  width: 400px;
  background-color: #858694;
  border: none;
  display: flex;
  justify-content: flex-end;
  padding: 15px 0 15px 0;
  color: #fff;
  font-size: 26px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(241, 239, 239);
  width: 400px;
  background-color: #fff;
  padding: 1px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 400px;
  height: 30vh;
}

.keypad button {
  font-size: 25px;
}

.operator {
  background-color: rgb(223, 152, 20);
  padding: 15px;
}

.num {
  background-color: #fff;
  padding: 15px;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 15px;
  background-color: #fff;
}

.keypad button:hover {
  opacity: 0.7;
  color: #000;
  font-size: 26px;
}
